version: '3.8'

services:
  plugin:
    container_name: odin-plugin
    build:
      context: ./packages/plugin
      dockerfile: ../../Dockerfile
    ports:
      - "1234:1234"
    depends_on:
      - backend
    volumes:
      - ./packages/plugin:/usr/src/app
      - /usr/src/app/node_modules
  backend:
    container_name: odin-backend
    build:
      context: ./packages/backend
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - HNSWLIB_NO_NATIVE=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - LLM_MODEL_NAME=${LLM_MODEL_NAME}
      - MEMGRAPH_HOST=${MEMGRAPH_HOST:-memgraph}
      - MEMGRAPH_PORT=${MEMGRAPH_PORT:-7687}
      - CHROMA_DATA_DIR=${CHROMA_DATA_DIR:-/etc/chroma}
      - CHROMA_VECTOR_SPACE=${CHROMA_VECTOR_SPACE:-cosine}
      - EMBEDDING_MODEL_NAME=${EMBEDDING_MODEL_NAME:-text-embedding-ada-002}
      - LLM_MODEL_TEMPERATURE=${LLM_MODEL_TEMPERATURE:-0.2}
      - MOCK="False"
    volumes:
      - chroma_data:/etc/chroma
      - ./packages/backend:/usr/src/bor
    depends_on:
      - memgraph
  memgraph:
    image: memgraph/memgraph-mage:1.15-memgraph-2.15
    container_name: memgraph
    ports:
      - "7687:7687"
      - "7444:7444"
    environment:
      - MEMGRAPH="--log-level=TRACE"
    volumes:
      - mg_lib:/var/lib/memgraph

volumes:
  chroma_data:
  mg_lib:
