version: '3.8'

services:
  bor:
    container_name: bor
    image: aichenskyi/bor:latest
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - HNSWLIB_NO_NATIVE=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - LLM_MODEL_NAME=${LLM_MODEL_NAME}
      - MOCK='False'
    volumes:
      - chroma_data:/etc/chroma
  memgraph:
    image: memgraph/memgraph-platform:latest
    container_name: memgraph
    ports:
      - "7687:7687"   # Bolt protocol (database connection)
      - "3000:3000"   # Memgraph Lab web interface
      - "7444:7444"   # Monitoring
    environment:
      - MEMGRAPH="--log-level=TRACE"
    volumes:
      - mg_lib:/var/lib/memgraph

volumes:
  chroma_data:
  mg_lib:
